img {
    vertical-align: middle;
}

html {
    height: 100%;
    min-height: 100%;
    background: #FFFFFF;
    cursor: none;
}

#cursor {
    cursor: none;
    width: 900px;
    height: 490px;
    background-image: url('/img/cursor.gif');
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 100%;
}
